<div class="container">
    <h1>Visualizaciones</h1>
    <br>
    <p>En esta sección podrá acceder a diferentes visualizaciones de la información, que se encuentran listas para imprimir, de acuerdo a la información que se tiene consolidada hasta el momento.</p>
    <div class="row row-content">
    <!--Acá hay otro que puede servir:
    http://stackoverflow.com/questions/28277812/angularjs-filter-by-more-than-one-value-from-the-scope-data
    -->
    
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li><a ui-sref="app.visualizaciones.res">Resolución</a></li>
                <li><a ui-sref="app.visualizaciones.rescorta">Resolución corta</a></li>
                <li><a ui-sref="app.visualizaciones.indi-pro">Indicadores por programa</a></li>
                <li><a ui-sref="app.visualizaciones.indi-pro-values">Indicadores por programa, con valores</a></li>
                <li><a ui-sref="app.visualizaciones.progr-prop-indi-values">Indicadores por programa, con propósitos y valores</a></li>
                <li><a ui-sref="app.visualizaciones.pro-resp">Programas y responsables</a></li>
                <li><a ui-sref="app.visualizaciones.eje-est-prog-ind">Eje, estrategia, programa, indicador</a></li>
                <li><a ui-sref="app.visualizaciones.eje-est-prog-lin-orie">Eje, estrategia, programa, lineamiento</a></li>
                <li><a ui-sref="app.visualizaciones.anexo-tecnico">Anexo técnico</a></li>

            </ul>
        </div>
    </div>
</div>
