<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 text-right">
            <button class="btn btn-link" ng-click="exportToExcel('#table')">
                <span class="glyphicon glyphicon-share"></span> Exportar a Excel
            </button>
            <strong>Versión: {{fecha | date : 'dd/MM/yyyy HH:mm'}}</strong>
        </div>
        <div class="col-xs-12">
            <table class="table table-bordered table-striped" id="table">
                <tbody>
                    <tr ng-repeat="mesa in mesas | orderBy: 'mesanum'" >
                    <td >
                        <strong>{{mesa.mesanum}}. {{mesa.nombr}}</strong>
                        <ul style="list-style-type:none">
                            <li ng-repeat="programa in programas | filter: mesa.codmesa">{{programa.coddos}}. {{programa.nombr}}</li>
                        </ul>
                    </td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
</div>
