<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 text-right">
            <strong>Versión: {{fecha | date : 'dd/MM/yyyy HH:mm'}}</strong>
        </div>
        <div class="col-xs-12">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr ng-repeat="mesa in mesas | orderBy: 'mesanum'" >
                    <td >
                        <strong>{{mesa.nombr}}</strong>
                        <ul >
                            <li ng-repeat="programa in programas | orderBy: 'coddos'">{{programa.coddos}}. {{programa.nombr}}</li>
                        </ul>
                    </td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
</div>
