<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 text-right">
            <strong>Versión: {{fecha | date : 'dd/MM/yyyy HH:mm'}}</strong>
        </div>
        <div class="col-xs-12">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th width="20%">Programa</th>
                        <th width="20%">Propósito</th>
                        <th width="60%">
                            Indicadores
                            <br>
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <td width="40%">Nombre</td>
                                    <td width="10%"><strong>Valor base</strong></td>
                                    <td width="10%"><strong>2016</strong></td>
                                    <td width="10%"><strong>2017</strong></td>
                                    <td width="10%"><strong>2018</strong></td>
                                    <td width="10%"><strong>2019</strong></td>
                                    <td width="10%"><strong>2020</strong></td>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="programa in programas" ng-if="showprogramas">
                        <td>
                            {{programa.coddos}}. {{programa.nombr}}
                            <br>
                            <br>
                            <p class="text-left">Responsable:
                            {{programa.urespon}} {{programa.dirrespon}}
                            </p>
                        
                        </td>
                        <td>
                            {{programa.objtv}}
                        </td>
                        <td>
                            <table class="table table-bordered table-condensed">
                                <tr ng-repeat="indicador in indicadores | filter: programa.cod" ng-if="showindic">
                                    <td width="40%">
                                        {{indicador.nombre}}
                                        <br>
                                        Año base: {{indicador.ybas}}
                                        <br>
                                        {{indicador.aparece}}
                                    </td>
                                    <td width="10%">{{indicador.vbas}}</td>
                                    <td width="10%">{{indicador.v2016}}</td>
                                    <td width="10%">{{indicador.v2017}}</td>
                                    <td width="10%">{{indicador.v2018}}</td>
                                    <td width="10%">{{indicador.v2019}}</td>
                                    <td width="10%">{{indicador.v2020}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <!--
        <div class="col-xs-12" ng-if="!showejes">
            <h2>{{message}}</h2>
        </div>
        <div class="col-xs-12" ng-repeat="eje in ejes" ng-if="showejes">
            <h2>Eje {{eje.codejeedos}}. {{eje.nombr}}</h2>
            <br>
            <p><strong>Objetivo: </strong> {{eje.objtv}}</p>
            <h3>Estrategias y programas</h3>
            
            <div ng-if="!showestrategias">
                <h4>{{message}}</h4>
            </div>
            <div ng-repeat="estrategia in estrategias | filter: eje.codeje" ng-if="showestrategias">
                <br>
                <h4 class="text-justify">Estrategia {{estrategia.codestdos}}. {{estrategia.nombr}}</h4>
                <div ng-if="!showprogramas">
                    <h5>{{message}}</h5>
                </div>  
                <div ng-repeat="programa in programas | filter: estrategia.codest" ng-if="showprogramas">
                    <br>
                    <h5>{{programa.coddos}}. {{programa.nombr}}</h5>
                    <br>
                    <p>{{programa.objtv}}</p>
                    <br>
                    <h5>Indicadores</h5>
                    <div ng-if="!showindic">
                        <h5>{{message}}</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" ng-repeat="indicador in indicadores | filter: programa.cod" ng-if="showindic">
                            <thead>
                            <tr>
                                    <td width="42%"><strong>Indicador</strong></td>
                                    <td width="18%"><strong>Línea base<br>
                                    {{indicador.ybas}}</strong></td>
                                    <td width="5%"><strong>2016</strong></td>
                                    <td width="5%"><strong>2017</strong></td>
                                    <td width="5%"><strong>2018</strong></td>
                                    <td width="5%"><strong>2019</strong></td>
                                    <td width="5%"><strong>2020</strong></td>
                                    <td width="15%"><strong>Responsable</strong></td>
                            </tr>

                            </thead>
                            <tbody>
                            <tr>
                                <td>{{indicador.nombre}}</td>
                                <td>{{indicador.vbas}}</td>
                                <td>{{indicador.v2016}}</td>
                                <td>{{indicador.v2017}}</td>
                                <td>{{indicador.v2018}}</td>
                                <td>{{indicador.v2019}}</td>
                                <td>{{indicador.v2020}}</td>
                                <td>{{indicador.resp}}</td>
                            </tr>
                            <tr>

                                <td colspan="4" style="white-space: pre-line"><strong>Variables:</strong>
                                {{indicador.inter}}
                                </td>
                                <td colspan="3"><strong>Fórmula:</strong><br>
                                {{indicador.form}}
                                </td>
                                <td>
                                <strong>Unidad:</strong> <br>
                                {{indicador.unid}}
                                </td>

                            </tr>
                            <tr>
                                <td colspan="8">
                                    <strong>Descripción:</strong><br>
                                    <p>{{indicador.des}}</p>
                                </td>
                            </tr>
                            </tbody>
                            </table>
                    </div>
                    <br>
                    <h5>Explicación</h5>
                    <p style="white-space: pre-line">{{programa.explccn}}</p>
                    <br>
                    <h5>Principales acciones</h5>
                    <p style="white-space: pre-line">{{programa.accns}}</p>
                </div>
            </div>
        </div>
        -->
    </div>
</div>


