<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 text-right">
            <strong>Versión: {{fecha | date : 'dd/MM/yyyy HH:mm'}}</strong>
        </div>
        <div class="col-xs-12" ng-if="!showejes">
            <h2>{{message}}</h2>
        </div>
        <div class="col-xs-12" ng-repeat="eje in ejes" ng-if="showejes">
            <h2>{{eje.codejeedos}}. Eje {{eje.codejeedos}}. {{eje.nombr}}</h2>
            <br>
            <p><strong>Objetivo: </strong> {{eje.objtv}}</p>
            <h3>Estrategias y programas</h3>
            
            <div ng-if="!showestrategias">
                <h4>{{message}}</h4>
            </div>
            <div ng-repeat="estrategia in estrategias | filter: eje.codeje" ng-if="showestrategias">
                <br>
                <h4 class="text-justify">{{estrategia.codestdos}}. Estrategia {{estrategia.codestdos}}. {{estrategia.nombr}}</h4>
                <div ng-if="!showprogramas">
                    <h5>{{message}}</h5>
                </div>  
                <div ng-repeat="programa in programas | filter: estrategia.codest" ng-if="showprogramas">
                    <!--| filter: eje.codest-->
                    <br>
                    <h5>{{programa.coddos}}. {{programa.nombr}}</h5>
                    <br>
                    <h6>a) Propósito del programa</h6>
                    <p>{{programa.objtv}}</p>
                    <br>
                    <h6>b) Explicación del programa</h6>
                    <p style="white-space: pre-line">{{programa.explccn}}</p>
                    <br>
                    <h6>c) Principales acciones</h6>
                    <p style="white-space: pre-line">{{programa.accns}}</p>
                    <div ng-if="!showindic">
                        <h5>{{message}}</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed" ng-repeat="indicador in indicadores | filter: programa.cod" ng-if="showindic">
                            <tr>
                                <td colspan="2">{{indicador.codeindi}}. Indicador</td>
                                <td colspan="5">{{indicador.nombre}}</td>
                            </tr>
                            <tbody>
                            <tr>
                                <td colspan="7">
                                    <strong>Descripción:</strong>
                                    <p>{{indicador.des}}</p>
                                </td>
                            </tr>
                            <tr>
                                    <td width="11%"><strong>Línea base<br>
                                    {{indicador.ybas}}</strong></td>
                                    <td width="11%"><strong>2016</strong></td>
                                    <td width="11%"><strong>2017</strong></td>
                                    <td width="11%"><strong>2018</strong></td>
                                    <td width="11%"><strong>2019</strong></td>
                                    <td width="11%"><strong>2020</strong></td>
                                    <td width="34%"><strong>Responsable</strong></td>
                            </tr>
                            <tr>
                                <td>{{indicador.vbas}}</td>
                                <td>{{indicador.v2016}}</td>
                                <td>{{indicador.v2017}}</td>
                                <td>{{indicador.v2018}}</td>
                                <td>{{indicador.v2019}}</td>
                                <td>{{indicador.v2020}}</td>
                                <td>{{indicador.resp}}</td>
                            </tr>
                            <tr>

                                <td colspan="3" style="white-space: pre-line"><strong>Variables:</strong>
                                {{indicador.inter}}
                                </td>
                                <td colspan="3"><strong>Fórmula:</strong><br>
                                {{indicador.form}}
                                </td>
                                <td>
                                <strong>Unidad:</strong> <br>
                                {{indicador.unid}}
                                </td>

                            </tr>
                            
                            </tbody>
                            </table>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>


