<style>
td
{border-left:1px solid #DDDDDD;
border-top:1px solid #DDDDDD;
        padding: 5px;
}
table
{border-right:1px solid #DDDDDD;
border-bottom:1px solid #DDDDDD}
</style>

<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 text-right">
            <strong>Versión: {{fecha | date : 'dd/MM/yyyy HH:mm'}}</strong>
        </div>
        <div class="col-xs-12" ng-if="!showejes">
            <h2>{{message}}</h2>
        </div>
        <div class="col-xs-12" ng-repeat="eje in ejes" ng-if="showejes">
            <h2>{{eje.codejeedos}}. Eje: {{eje.nombr}}</h2>
            <!--
            <p><strong>Objetivo: </strong> {{eje.objtv}}</p>
            -->
            <br>
            <div ng-if="!showestrategias">
                <h4>{{message}}</h4>
            </div>
            <div ng-repeat="estrategia in estrategias | filter: eje.codeje" ng-if="showestrategias">
                <h4 class="text-justify">{{estrategia.codestdos}}. Estrategia: {{estrategia.nombr}}</h4>
                <br>
                <div ng-if="!showprogramas">
                    <h5>{{message}}</h5>
                </div>  
                <div ng-repeat="programa in programas | filter: estrategia.codest" ng-if="showprogramas">
                    <h5>{{programa.coddos}}. {{programa.nombr}}</h5>
                        <br>
                        <p>Responsable: {{programa.urespon}} {{programa.dirrespon}}
                        </p>
                        <br>
                        <p class="text-justify">Propósito: {{programa.objtv}}</p>
                        <br>
                    <div ng-if="!showindic">
                        <h5>{{message}}</h5>
                    </div>
                        <table>
                            <!--
                            class="table table-bordered table-striped table-condensed" 
                            -->
                            <tr>
                                    <td width="52%"><strong>Indicadores</strong></td>
                                    <td width="8%"><strong>Línea base</strong></td>
                                    <td width="8%"><strong>2016</strong></td>
                                    <td width="8%"><strong>2017</strong></td>
                                    <td width="8%"><strong>2018</strong></td>
                                    <td width="8%"><strong>2019</strong></td>
                                    <td width="8%"><strong>2020</strong></td>
                            </tr>
                            <tbody>
                            <tr ng-repeat="indicador in indicadores | filter: programa.cod" ng-if="showindic">
                                <td>
                                  {{indicador.codeindi}}. {{indicador.nombre}}
                                  <br>
                                  <small>Año base: {{indicador.ybas}}</small>
                                  
                                </td>
                                <td>{{indicador.vbas}}</td>
                                <td>{{indicador.v2016}}</td>
                                <td>{{indicador.v2017}}</td>
                                <td>{{indicador.v2018}}</td>
                                <td>{{indicador.v2019}}</td>
                                <td>{{indicador.v2020}}</td>
                            </tr>
                            </tbody>
                            </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>


